<div class="row">
  <div class="col-md-6">
    <div class="tsstatus">
      <% panel = panel_gen.to_s.force_encoding("UTF-8") %>
      <%= @count_users %>/<%= @info['virtualserver_maxclients'] %> <br>
      <%= raw panel%>
    </div>
  </div>

  <div class="col-md-6">

    <fieldset>
      <legend>Basic Configurations</legend>
      <p>Name: <%= @info["virtualserver_name"] %></p>

    </fieldset>

  </div>


</div>