<style>

  ol{
    list-style: none;
    counter-reset: li;
  }

  div ol
  li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
  }

  .fat{
    font-weight: 600;
  }
</style>

<div>
  <h2 class="text-center">Пользовательское соглашение</h2>
  <ol>
    <li><span class="fat">ОБЩИЕ ПОЛОЖЕНИЯ</span>
      <ol>
        <li>Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-магазина « easy-ts.ru  » – Администрация сайта и Пользователем данного Сайта.</li>
        <li>Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.</li>
        <li>Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.</li>
        <li>Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">ПРЕДМЕТ СОГЛАШЕНИЯ</span>
      <ol>
        <li>Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">ПРАВА И ОБЯЗАННОСТИ СТОРОН</span>
      <ol>
        <li>Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</li>
        <li>Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.</li>
        <li>Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта Интернет-магазина. Изменение стоимости будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением случаев, особо оговоренных Администрацией сайта интернет-магазина.</li>
        <li>Получить доступ к использованию Сайта после соблюдения требований о регистрации и оплате.</li>
        <li>Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">Пользователь Сайта обязуется:</span>
      <ol>
        <li>Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.</li>
        <li>Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</li>
        <li>Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</li>
        <li>Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.</li>
        <li>Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.</li>
        <li><span class="fat">Не использовать сервисы сайта Интернет-магазина с целью:</span>
          <ol>
            <li>загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</li>
            <li>побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации.</li>
            <li>ущемления прав меньшинств</li>
            <li>представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Интернет-магазина.</li>
            <li>некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами, или осуждения таких лиц.</li>
          </ol>
        </li>
      </ol>
    </li>
    <br>
    <li><span class="fat">Пользователю запрещается:</span>
      <ol>
        <li>Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические
          устройства или
          эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта данного Интернет-магазина;</li>
        <li>Нарушать надлежащее функционирование Сайта;</li>
        <li>Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;</li>
        <li>Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.</li>
        <li>Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</li>
        <li>Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права интернет-магазина или других лиц.</li>
        <li>Администрация сайта обладает правом в одностороннем порядке аннулировать учетную запись Пользователя, если она не использовалась более 6 месяцев календарных месяцев подряд без уведомления Пользователя.</li>
        <li>Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Интернет-магазином.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">ОТВЕТСТВЕННОСТЬ</span>
      <ol>
        <li>Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.</li>
        <li>Администрация сайта не несет ответственности за:
          <ol>
            <li>Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</li>
            <li>Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.</li>
            <li>Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</li>
          </ol>
        </li>

      </ol>
    </li>
    <br>
    <li><span class="fat">НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</span>
      <ol>
        <li>Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.</li>
        <li>Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.</li>
        <li>Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</li>
        <li>Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</li>
        <li>Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">РАЗРЕШЕНИЕ СПОРОВ</span>
      <ol>
        <li>В случае
          возникновения любых
          разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).</li>
        <li>Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</li>
        <li>При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.</li>
        <li>Любой иск в отношении условий использования Сайта должен быть предъявлен в течение срок после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.</li>
      </ol>
    </li>
    <br>
    <li><span class="fat">ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</span>
      <ol>
        <li>Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</li>
        <li>Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</li>
      </ol>
    </li>

  </ol>
  <br>

  <p>Обновлено 29 апреля 2017 г.</p>
</div>