<%= label_tag 'Write email' %>
<div class="form-group">
  <input type="email" name="user[email]" id="email" tabindex="1" class="form-control" placeholder="Адрес эл. почты" value="" autofocus="true">
</div>


<%= link_to 'Войти', user_vkontakte_omniauth_authorize_path %>