<h5> В течение 5-и секунд вы будете переправлены на страницу оплаты.</h5>
<%= form_tag @form.checkout_url, @form.options.merge(data: {autosubmit: true}) do |f| %>
    <%= raw @form.hidden_fields_tags %>
    <%= button_tag 'Перейти к оплате',
                   :class=>'btn btn-primary',
                   :data =>{:disable_with => 'Переправляю на сайт оплаты..'} %>
<% end %>

<script type="text/javascript" charset="utf-8">

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("[data-autosubmit]").submit();
    });

</script>
