development: &defaults
  w1:
    merchant_id: '123641701293'
    signature: 'longsignature'
  teamspeak:
    login: 'serveradmin'
    password: 'noIma+u2'
    #password: '3Z9OOU5e'
    ts_path: '~/teamspeak'
  other:
    admin_list: ['linkinpark02111@mail.ru', 'maks2x2@mail.ru']
    dns: 'panktrue.ddns.net'
    ip: '109.62.238.42'
  unitpay:
    public_key: 'key'
    secret_key: 'key'



staging:
  <<: *defaults

production:
  <<: *defaults