/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple-slider
 *= require simple-slider-volume
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

main {
  background-color: #eee;
  margin-top: 51px; // accommodate the navbar

}



#vk_groups{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 250px;
  right: 0;
}

.footer{
  height: 200px;
  background-image: url("footer.jpg");

}


.footerlinks{
  margin-top: 30px;
  p{
    color: white;
  }

  div ul li{
    list-style-type: none;
    a{
      color: white;
    }
  }
}

.copyright{
margin-top: 20px;
  p{
    color: white;
    font-size: 16px;
  }
}

.main{

}


* { margin:0; padding:0; }
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 150px; }  /* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;}
/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */




