// Place all the styles related to the cabinet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul.hr {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}
ul.hr li {
  font-size: 20px;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
 // border: 1px solid #000; /* Рамка вокруг текста */
 // padding: 3px; /* Поля вокруг текста */
}

table.server-list{ th,td{
  border: thin solid;
  padding: 3px;
}}


.border{
  border: 4px double black;
  padding: 10px;

}

.panel{
  border: 4px;
}

.select_group{
  width: 160px;
  height: 26px;

}


