<!--
<% if controller_name=='cabinet' %>

    <div class="pull-left col-md-3">

      <div class="panel panel-collapse">
        <div class="panel-title"><h3>Баланс</h3></div>
        <div class="panel-body">123</div>
        <div class="panel-">123</div>
      </div>

    </div>
<% end %>

-->
