  <div class="container">

    <div class="row footerlinks">

      <div class="col-xs-4">


        <ul>
          <li><p>СОЦ СЕТИ</p></li>
          <li><a href="https://vk.com/easy_ts3" target="_blank">Группа в ВК</a></li>
        </ul>

      </div>

      <div class="col-sm-4">

        <ul>
          <li><p>EASY-TS.ru</p></li>
          <li><a href="https://vk.com/easy_ts3" target="_blank">О нас</a></li>
          <li><a href="https://metrika.yandex.ru/stat/?id=44505961&amp;from=informer"
                 target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/44505961/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                     style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="44505961" data-lang="ru" /></a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul>
          <li><p>Правила</p></li>
          <li><%= link_to "Пользовательское соглашение", home_regulations_path %></li>
        </ul>
      </div>

    </div>

    <div class="row copyright">
      <p>Copyright © 2017 easy-ts.ru</p>
    </div>



  </div>

