  <div class="container">

    <div class="row footerlinks">

      <div class="col-xs-4">


        <ul>
          <li><p>СОЦ СЕТИ</p></li>
          <li><a href="https://vk.com/easy_ts3" target="_blank">Группа в ВК</a></li>
        </ul>

      </div>

      <div class="col-sm-4">

        <ul>
          <li><p>EASY-TS.ru</p></li>
          <li><a href="https://vk.com/easy_ts3" target="_blank">О нас</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul>
          <li><p>Правила</p></li>
          <li><%= link_to "Пользовательское соглашение", home_regulations_path %></li>
        </ul>
      </div>

    </div>

    <div class="row copyright">
      <p>Copyright © 2017 easy-ts.ru</p>
    </div>



  </div>

