  <div class="container">

    <div class="row footerlinks">

      <div class="col-sm-4">


        <ul>
          <li><p>СОЦ СЕТИ</p></li>
          <li><a href="https://vk.com/easy_ts3" target="_blank">Группа в ВК</a></li>
          <li><a href="#">LINK</a></li>
        </ul>

      </div>

      <div class="col-sm-4">

        <ul>
          <li><p>Title</p></li>
          <li><a href="#">LINK</a></li>
          <li><a href="#">LINK</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul>
          <li><p>Title</p></li>
          <li><a href="#">LINK</a></li>
          <li><a href="#">LINK</a></li>
        </ul>
      </div>

    </div>

    <div class="row copyright">
      <p>Copyright © 2017 east-ts.ru</p>
    </div>



  </div>

